.page {
    border-right: 2px solid orange;
    border-left: 2px solid orange;
    border-bottom: 2px solid orange;
    width: 800px;
    margin: 20px;
}

.link {
    width: 800px;
    margin: 20px;
    padding-left: 200px;
}

h2, h3 {
    text-align: center;
    color: saddlebrown;
}

p {
    padding-left: 10px;
    text-indent: 40px;
    color: darkorange;
    line-height: 200%;
}

p a {
    color: saddlebrown;
}

.link a {
    color: saddlebrown;
    font-size: 15px;
    padding-left: 10px;
    text-decoration: none;
}

body {
    font-family: Arial, Georgia, serif;
}

ul {
    width: 100%;
    height: 50px;
    list-style: none;
    margin: 0;
    padding-left: 0;
    background-color: orange;
}

li {
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
}

.menu1{
    background-color: white;
}

.menu1 a {
    color: orange;
    text-decoration: none;
}

li a {
    color: white;
    text-decoration: none;
}

li:hover {
    background: lightgrey;
    cursor: pointer;
}