body {
    font-family: Arial, Georgia, serif;
}

div {
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

table {
    width: 450px;
}

.bordered td {
    border-bottom: 1px solid lightgrey;
}

td, th {
    padding: 10px;
}

.required {
    color: red;
}

input, textarea {
    float: left;
    border: 1px solid black;
}

textarea {
    resize: none;
    width: 200px;
    height: 40px;
}

input {
    width: 150px;
    height: 25px;
}

.inp:focus {
    width: 155px;
    height: 30px;
}

.inp:valid {
    border: 2px solid limegreen;
    background: url(2.png) no-repeat 130px 0;
    background-size: auto 90%;
}

.inp:invalid {
    border: 2px solid darkred;
    background: url(3.png) no-repeat 130px 0;
    background-size: auto 90%;
}

textarea:focus {
    resize: none;
    width: 205px;
    height: 45px;
}

.button {
    border: none;
    background-color: limegreen;
    padding: 5px;
    color: white;
}


