* {
    font-family: Arial, Georgia, serif;
}
form {
    padding: 10px;
    background-color: #fb354a;
    width: 300px;
    border: 10px solid #464646;
}
.pic {
    text-align: center;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}
h5 {
    text-align: center;
    margin: 0;
    padding: 0;
}
input {
    font-size: 11px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: none;
}
label {
    color: white;
}
input::placeholder {
    color: lightgrey;
}
textarea::placeholder {
    color: lightgrey;
}
select {
    color: white;
    box-sizing: border-box;
    font-size: 11px;
    width: 100%;
    padding: 10px;
    border: none;
}
textarea {
    resize: none;
    box-sizing: border-box;
    font-size: 11px;
    width: 100%;
    padding: 10px;
    border: none;
}
.f {
    background-color: #ca2a3b;
}
.button {
    color: #fb354a;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 4px #ca2a3b;
}